@model BaiduMapIntergation.Models.YoukuVideoViewModel

<div>
    <h3>@Sitecore.Context.Item["Title"]</h3>
    <br /><br />

    <embed src="http://player.youku.com/player.php/sid/@Model.VideoId/v.swf" allowFullScreen="true" quality="high" width="480" height="400" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash" />
</div>

